<!-- Heading -->
<div class="heading">

    <!-- Heading -->
    <div>
        <h1>Roles</h1>
    </div>

    <!-- Refresh Data From API -->
    <div class="button-container">
        <app-async-button
            buttonText="Refresh Data From API"
            colour="primary"
            icon="sync"
            [loaded]="apiLoaded"
            (clickEvent)="refreshDataFromApi()"
        ></app-async-button>
    </div>
</div>

<!-- Filters -->
<div class="filters">
    <app-role-filters (filtersChanged)="updateFilters($event)"></app-role-filters>
</div>

<!-- Data -->
<app-table
    [intialPageSize]="100"
    [dataSource]="dataSource"
    [columnConfig]="columnConfig"
    [service]="roleService"
    [filters]="filters"
    [reloadData]="reloadData"
    defaultSortCol="display_name"
    [actionButtonConfig]="actionButtonConfig"
    (actionButtonClick)="onActionButtonClick($event)"
    (rowClick)="onRowClick($event)"
    (iconClick)="onIconClick($event)"
></app-table>
