mat-card {
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100%;

    h2 {
        cursor: pointer;
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        align-items : center;
        justify-content: center;
        display: flex;
    }
}
