<!-- Heading -->
<h1>D3 Sample Components</h1>

<!-- Grid -->
<mat-grid-list [cols]="2" rowHeight="350px">

    <!-- D3 Map -->
    <mat-grid-tile>

        <mat-card>

            <!-- Heading -->
            <h2 routerLink="/samples/d3">D3 Map</h2>

            <!-- Blurb -->
            <p>D3 map.</p>

            <!-- External Links -->
            <p>Check out these external links (opens in new tab):</p>

            <ul>
                <li><a href="https://d3js.org/" target="_blank">D3</a></li>
            </ul>

        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>

        <mat-card>


        </mat-card>

    </mat-grid-tile>

</mat-grid-list>
