<div class="map-container">

    <!-- Map Controls -->
    <div class="map-controls">

        <!-- Control List -->
        <mat-list>

            <!-- Zoom Level -->
            <div mat-subheader>Zoom Level</div>
            <mat-list-item>
                <mat-icon matListItemIcon (click)="resetMap()" matTooltip="Re-centre map" matTooltipPosition="above">search</mat-icon>
                <div matListItemTitle class="mat-list-zoom">
                    <ng-container *ngIf="data; else loadingZoom">
                        <span>{{ currentZoomLevel - zoom.min + 1 }}</span>
                        <span *ngIf="opacityInput.value === 0">Opacity {{ currentOpacityLevel | percent }}</span>
                        <mat-progress-bar mode="determinate" [value]="zoomProgress"></mat-progress-bar>
                    </ng-container>
                    <ng-template #loadingZoom>
                        <mat-spinner diameter="30"></mat-spinner>
                    </ng-template>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <!-- Lat / Long -->
            <div mat-subheader>Latitude / Longitude</div>
            <mat-list-item>
                <mat-icon matListItemIcon (click)="resetMap()" matTooltip="Re-center map" matTooltipPosition="above">my_location</mat-icon>
                <div matListItemTitle class="mat-list-lat-long">
                    <ng-container *ngIf="data && currentCentre; else loading">
                        {{ currentCentre.lat | number: '1.0-4' }}, {{ currentCentre.lng | number: '1.0-4' }}
                    </ng-container>
                    <ng-template #loading>
                        <mat-spinner diameter="30"></mat-spinner>
                    </ng-template>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <!-- Opacity Override -->
            <div mat-subheader>Opacity Override<span *ngIf="opacityInput.value"> (Active)</span></div>
            <mat-list-item>
                <mat-icon matListItemIcon (click)="animateSlider()" matTooltip="Animate slider" matTooltipPosition="above">opacity</mat-icon>
                <div matListItemTitle class="mat-list-opacity">
                    <mat-slider [min]="0" [max]="100" step="1">
                        <input matInput matSliderThumb [formControl]="opacityInput">
                    </mat-slider>
                    <span *ngIf="opacityInput.value">{{ opacityInput.value }}%</span>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

        </mat-list>

    </div>

    <!-- Map -->
    <div #mapContainer class="map">
        <mat-spinner *ngIf="!data" diameter="100" color="primary"></mat-spinner>
    </div>

</div>
