mat-form-field {
    width: 95%;
}

.filter-spacer {
    width: 95%;
}

.spacer {
    margin-bottom: 20px;
}

mat-panel-description {
    flex-grow: 4;
    mat-icon {
        margin-right: 10px;
    }
}

.field_set {
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

legend {
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
}

.filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 15px 0px 15px;
}

.message {
    margin-left: 100px;
}

img {
    width: 30px;
    height: 30px;
}

.spacer {
    width: 50px;
}

.small-font {
    font-size: 10pt;
}

.select-container {
    display: flex;
}

.select-display-name {
    width: 100%;
}
