<mat-sidenav-container fullscreen>

    <mat-toolbar color="primary">

        <!-- Home -->
        <a mat-button routerLink="/">
            <mat-icon fontIcon="home"></mat-icon>
            Home
        </a>

        <!-- Organisations -->
        <a mat-button routerLink="/organisations">
            <mat-icon fontIcon="factory"></mat-icon>
            Organisations
        </a>

        <!-- Roles -->
        <a mat-button routerLink="/roles">
            <mat-icon fontIcon="roller_skating"></mat-icon>
            Roles
        </a>

        <!-- Sample Components -->
        <a mat-button routerLink="/samples">
            <mat-icon fontIcon="electrical_services"></mat-icon>
            Sample Components
        </a>

    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>
