<div class="container">

    <!-- Heading -->
    <h1>Sample Components</h1>

    <!-- Grid -->
    <mat-grid-list [cols]="2" rowHeight="350px">

        <!-- Table Sort -->
        <mat-grid-tile>

            <mat-card>

                <!-- Heading -->
                <h2 routerLink="/samples/table-sort">Table Sort</h2>

                <!-- Blurb -->
                <p>Data table with sorting.</p>

            </mat-card>

        </mat-grid-tile>

        <!-- Table Sort/Paginate/Filter -->
        <mat-grid-tile>

            <mat-card>

                <!-- Heading -->
                <h2 routerLink="/samples/table-sort-paginate-filter">Table Sort/Paginate/Filter</h2>

                <!-- Blurb -->
                <p>Data table with sorting, pagination, and filtering.</p>

                <!-- External Links -->
                <p>Check out these external links (opens in new tab):</p>

                <ul>
                    <li><a href="https://material.angular.io/components/table/examples#table-overview" target="_blank">Angular Material - Table Sort/Paginate/Filter</a></li>
                </ul>

            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>

</div>
