<div class="container">

    <!-- Heading -->
    <h1>Async Table</h1>

    <hr>

    <!-- Sub Heading -->
    <h3>Table with asynchronous data source</h3>

    <!-- Filters -->
    <div class="filters">

        <!-- Internal ID -->
        <mat-form-field>
            <input matInput placeholder="Search Internal ID" #_id>
        </mat-form-field>

        <!-- Display Name -->
        <mat-form-field>
            <input matInput placeholder="Search Display Name" #displayName>
        </mat-form-field>

    </div>

    <div>

        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>

        <div class="table mat-elevation-z8">

            <mat-table
                [dataSource]="dataSource"
                matSort
                matSortActive="display_name"
                matSortDirection="asc"
                matSortDisableClear
            >
                <!-- Column Definitions -->
                <ng-container [matColumnDef]="item.columnId" *ngFor="let item of columnConfig">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.columnName }}</mat-header-cell>
                    <mat-cell  mat-cell *matCellDef="let row">{{ row[item.columnId] }}</mat-cell >
                </ng-container>
 
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
            
            </mat-table>

            <mat-paginator
                [length]="length"
                [pageSize]="intialPageSize"
                [pageSizeOptions]="pageSizeOptions"
            ></mat-paginator>

        </div>

    </div>

</div>
