.spinner-container {
    height: 360px;
    width: 80%;
    margin-top: 70px;
    position: fixed;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
}

mat-table {
    margin-bottom: 20px;
}

mat-paginator {
    margin-bottom: 20px;
}

mat-row {
    cursor: pointer;
}
