<div class="container">

    <!-- Heading -->
    <h1>Async Table</h1>

    <hr>

    <!-- Sub Heading -->
    <h3>Table with asynchronous data source</h3>

    <!-- Filters -->
    <div class="filters">

        <!-- Internal ID -->
        <mat-form-field>
            <input matInput placeholder="Search Internal ID" #_id>
        </mat-form-field>

        <!-- Display Name -->
        <mat-form-field>
            <input matInput placeholder="Search Display Name" #displayName>
        </mat-form-field>

    </div>

    <div>

        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>

        <mat-table
            class="roles-table mat-elevation-z8"
            [dataSource]="dataSource"
            matSort
            matSortActive="display_name"
            matSortDirection="asc"
            matSortDisableClear
        >

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let role">{{ role.id }}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</mat-header-cell>
                <mat-cell *matCellDef="let role">{{ role._id }}</mat-cell>
        
            </ng-container>
        
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                <mat-cell *matCellDef="let role">{{ role.code }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="display_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Display Name</mat-header-cell>
                <mat-cell *matCellDef="let role">{{ role.display_name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="primary_role">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Primary Role</mat-header-cell>
                <mat-cell *matCellDef="let role">{{ role.primary_role }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
        
        </mat-table>

        <mat-paginator [length]="length" [pageSize]="intialPageSize" [pageSizeOptions]="[5, 8, 10, 20, 50, 100]"></mat-paginator>

    </div>

</div>
