.map-container {
    margin-top: 20px;
    display: flex;
}

.map-controls {
    border: 1px solid lightgray;
    width: 400px;

    .zoom-container {
        display: flex;

        .zoom-subheader-opacity {
            margin-left: auto;
        }
    }

    span {
        display: inline-block;
        width: 18%;
        text-align: right;
    }


    .span-zoom-auto {
        text-align: left;
    }

}

.map {
    width: 100%;
    border: 1px solid lightgray;

    mat-spinner {
        position: absolute;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0; 
        margin: auto auto auto auto; 
    }
}

mat-slider {
    margin-left: 25px;
    width: 70%;
}

mat-icon {
    cursor: pointer;
}
