<div class="map-container">

    <!-- Map Controls -->
    <div class="map-controls">

        <!-- Control List -->
        <mat-list>

            <!-- Zoom Level -->
            <div class="zoom-container">
                <div mat-subheader>Zoom Level (1 - {{ zoom.max - zoom.min + 1 }})</div>
                <ng-container *ngIf="data; else loadingZoomOpacity">
                    <div mat-subheader *ngIf="opacityInput.value === 0" class="zoom-subheader-opacity">Opacity {{ currentOpacityLevel | percent }}</div>
                </ng-container>
                <ng-template #loadingZoomOpacity>
                    <mat-spinner diameter="30"></mat-spinner>
                </ng-template>
            </div>
            <mat-list-item>
                <mat-icon matListItemIcon (click)="resetMap()" matTooltip="Re-centre map" matTooltipPosition="above">search</mat-icon>
                <div matListItemTitle>

                    <ng-container *ngIf="zoom.manual; else zoomAuto">
                        <mat-slider [min]="zoom.min" [max]="zoom.max" step="1">
                            <input matInput matSliderThumb [formControl]="zoomInput">
                        </mat-slider>
                        <span class="span-zoom-manual">{{ currentZoomLevel - zoom.min + 1 }}</span>
                    </ng-container>

                    <ng-template #zoomAuto>
                        <span *ngIf="!zoom.manual" class="span-zoom-auto">{{ currentZoomLevel - zoom.min + 1 }}</span>
                        <mat-progress-bar mode="determinate" [value]="zoomProgress" *ngIf="!zoom.manual"></mat-progress-bar>
                    </ng-template>

                </div>

            </mat-list-item>

            <mat-divider></mat-divider>

            <!-- Lat / Long -->
            <div mat-subheader>Latitude / Longitude</div>
            <mat-list-item>
                <mat-icon matListItemIcon (click)="resetMap()" matTooltip="Re-center map" matTooltipPosition="above">my_location</mat-icon>
                <div matListItemTitle>
                    <ng-container *ngIf="data && currentCentre; else loading">
                        {{ currentCentre.lat | number: '1.0-4' }}, {{ currentCentre.lng | number: '1.0-4' }}
                    </ng-container>
                    <ng-template #loading>
                        <mat-spinner diameter="30"></mat-spinner>
                    </ng-template>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <!-- Opacity Override -->
            <div mat-subheader>Opacity Override<span *ngIf="opacityInput.value"> (Active)</span></div>
            <mat-list-item>
                <mat-icon matListItemIcon (click)="animateSlider()" matTooltip="Animate slider" matTooltipPosition="above">opacity</mat-icon>
                <div matListItemTitle class="mat-list-opacity">
                    <mat-slider [min]="0" [max]="100" step="1">
                        <input matInput matSliderThumb [formControl]="opacityInput">
                    </mat-slider>
                    <span *ngIf="opacityInput.value">{{ opacityInput.value }}%</span>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

        </mat-list>

    </div>

    <!-- Map -->
    <div class="map-flex-container">
        <div #mapContainer class="map" [ngStyle]="mapStyle">
            <mat-spinner *ngIf="!data" diameter="100" color="primary"></mat-spinner>
        </div>
    </div>

</div>
