.org-view-header {
    display: flex;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .primary-roles {
        width: 350px;
    }

    .org-header {
        flex: 1;
        display: flex;

        .org-header-id {
            width: 200px;
        }

        .org-header-name {
            flex: 1;
        }

    }
}
