.org-view-header {
    display: flex;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .primary-roles {
        width: 450px;
    }

    .org-header {
        flex: 1;
        display: flex;

        .org-header-name {
            flex: 1;
        }

    }

    .org-header-spacer {
        width: 100px;
    }

}
