.loading-spinner {
    margin: auto;
}

.page-container {
    display: flex;
}

.page-header {
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.map-container {
    width: 1200px;
}

.org-container {
    flex: 1;
    margin-top: 10px
}

.org-form-field {
    width: 100%;
}

mat-form-field {
    img {
        height: 40px;
        width: 40px;
    }
}

a {
    text-decoration: none;
}

a:link {
    color: royalblue;
}

a:visited {
    color: royalblue;
}
  
a:hover {
    filter: brightness(0.8);
}

.org-link {
    height: 100px;
    display: flex;

    h3 {
        margin-bottom: 0;
        margin-top: auto;
    }
}

fieldset {
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

legend {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: gray;
}

.primary-roles {
    width: 400px;
    margin-left: 14px;
    h4 {
        margin-top: 30px;
    }
}

mat-checkbox {
    pointer-events: none;
}
