<div class="org-view-header">
    <h1 class="primary-roles">Primary Roles</h1>
    <div class="org-header">
        <h1 class="org-header-id">{{ id }}</h1>
        <h1 class="org-header-name" *ngIf="organisation">{{ organisation.name }}</h1>
        <h1 class="org-header-id"></h1>
    </div>
</div>

<!-- Map -->
<shared-map
    [data]="mapData"
    [mapOptions]="mapOptions"
    [zoom]="zoomSettings"
    [initialCentreCoords]="[organisation.postcode?.latitude || 0, organisation.postcode?.longitude || 0]"
    [useCentreIcon]="true"
    width="650px"
    height="650px"
    borderRadius="50%"
    (markerClicked)="onMarkerClick($event)"
    (manualZoom)="onManualZoom($event)"
    (roleChanged)="onRoleChange($event)"
></shared-map>
