<h1>Organisation</h1>

<h2>{{ id }}</h2>
<div *ngIf="organisation && organisation.primary_role">
    <h2>{{ organisation.primary_role.display_name }}</h2>
    <h2>{{ organisation.name }}</h2>
</div>

<div class="flex-container">

    <!-- Controls -->
    <div class="flex-child flex-controls">

        <form>

            <fieldset class="field_set">

                <legend>
                    Parameters
                </legend>

                <div class="filter-container">

                    <mat-label>
                        Zoom Level: {{ zoomInput.value }}
                    </mat-label>

                    <mat-slider [min]="zoomSettings.min" [max]="zoomSettings.max" step="1">
                        <input matInput matSliderThumb [formControl]="zoomInput" (dragEnd)="dragEnd($event)" #zoomSlider>
                    </mat-slider>

                    <!-- Primary Role -->
                    <shared-role-select
                        [control]="primaryRolesInput"
                    ></shared-role-select>

                </div>

            </fieldset>

        </form>

    </div>

    <!-- Map -->
    <div class="flex-child flex-map">
        <div class="map-container">
            <shared-map
                [data]="mapData"
                [manualZoom]="zoomInput.value || zoomSettings.min"
                [zoom]="zoomSettings"
                [mapOptions]="mapOptions"
                borderRadius="50%"
            ></shared-map>
        </div>
    </div>
    
</div>
