<!-- Heading -->
<h1>NHS Prescribing Data</h1>

<!-- Grid -->
<mat-grid-list [cols]="2" rowHeight="380px">

    <!-- Organisations API -->
    <mat-grid-tile>

        <mat-card>

            <!-- Heading -->
            <h2 routerLink="/organisations/map">Organisations Map</h2>

            <!-- Blurb -->
            <p>The Organisation Data Service (ODS) issues and manages unique identification codes (ODS codes) and accompanying reference data for organisations that interact with any area of the NHS.</p>

            <!-- External Links -->
            <p>Check out these external links (opens in new tab):</p>

            <ul>
                <li><a href="https://directory.spineservices.nhs.uk/apidocs/#/ORD/get_ORD_2_0_0_organisations" target="_blank">API Docs</a></li>
                <li><a href="https://digital.nhs.uk/services/organisation-data-service" target="_blank">Organisation Data Service (ODS)</a></li>
                <li><a href="https://openprescribing.net/practice/" target="_blank">Open Prescribing</a></li>
                <li><a href="https://digital.nhs.uk/services/organisation-data-service/export-data-files/csv-downloads/gp-and-gp-practice-related-data" target="_blank">NHS Digital</a></li>
                <li><a href="https://medium.com/@rkavanagh/eating-your-own-dog-food-f51fdd41cc18" target="_blank">Eating your own dog food….</a></li>
            </ul>

        </mat-card>

    </mat-grid-tile>

    <!-- Organisations -->
    <mat-grid-tile>

        <mat-card>

            <!-- Heading -->
            <h2 routerLink="/organisations">Organisations</h2>

            <!-- Blurb -->
            <p>A list of Organisations stored locally.</p>

        </mat-card>

    </mat-grid-tile>

    <!-- Roles -->
    <mat-grid-tile>

        <mat-card>

            <!-- Heading -->
            <h2 routerLink="/roles">Roles</h2>

            <!-- Blurb -->
            <p>A list of Roles stored locally.</p>

        </mat-card>

    </mat-grid-tile>

    <!-- Sample Components -->
    <mat-grid-tile>

        <mat-card>

            <!-- Heading -->
            <h2 routerLink="/samples">Sample Components</h2>

            <!-- Blurb -->
            <p>A list of sample components (potentially) used in this website</p>

        </mat-card>

    </mat-grid-tile>

</mat-grid-list>

<div class="logo">
    <img src="assets/svg/nhs/nhs-b.svg" alt="">
</div>
