mat-form-field {
    width: 95%;
}

button {
    margin-top: 10px;
    display: block;
}

mat-panel-description {
    flex-grow: 4;
    mat-icon {
        margin-right: 10px;
    }
}

.filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

// Won't work without { encapsulation: ViewEncapsulation.None }
.long-list {
    min-height: 500px;
}
