mat-form-field {
    width: 95%;
}

mat-panel-description {
    flex-grow: 4;
    mat-icon {
        margin-right: 10px;
    }
}

.filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.message {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
