mat-form-field {
    width: 95%;
}

mat-panel-description {
    flex-grow: 4;
    mat-icon {
        margin-right: 10px;
    }
}

.filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.message {
    margin-left: 100px;
}

img {
    width: 30px;
    height: 30px;
}

.spacer {
    width: 50px;
}

.small-font {
    font-size: 10pt;
}

.role-container {
    display: flex;
}

.role-name {
    width: 100%;
}
