table {
    margin-bottom: 50px;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
