td {
    padding: 10px;
}

mat-card {
    margin-top: 40px;
    margin-bottom: 40px;
}

mat-card-content {
    margin-top: 20px;
}

td:nth-child(1) {  
    font-weight: bold;
}

.explore-object-container {
    margin-bottom: 40px;
}

.card-container {
    display: flex;

    .card {
        width: 100%;
    }

    .card:nth-child(1) {  
        margin-right: 10px;
    }

    .card:nth-child(2) {  
        margin-left: 10px;
    }

}

#map {
    width: 240px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
