<div class="container">

    <h2>{{ organisation.Name }}</h2>

    <!-- Card -->
    <mat-card class="example-card" *ngIf="organisation.Name">

        <!-- Card Header -->
            <mat-card-header>
                <mat-card-title>{{ organisation.Name | titlecase }}</mat-card-title>
                <mat-card-subtitle>{{ organisation.OrgId.extension }}</mat-card-subtitle>
            </mat-card-header>

        <!-- Card Content -->
        <mat-card-content>

            <table>

                <tbody>

                    <!-- Record Class -->
                    <tr>
                        <td>Record Class</td>
                        <td>{{ organisation.orgRecordClass }}</td>
                    </tr>

                    <!-- Status -->
                    <tr>
                        <td>Status</td>
                        <td>{{ organisation.Status }}</td>
                    </tr>

                    <!-- Contacts -->
                    <ng-container *ngIf="organisation.Contacts">
                        <tr>
                            <td>Contacts</td>
                            <td>{{ organisation.Contacts.Contact | ArrayConcatContact }}</td>
                        </tr>
                    </ng-container>

                    <!-- Roles -->
                    <tr>
                        <td>{{ organisation.Status }} Roles</td>
                        <td>{{ roleCount.view }}</td>
                    </tr>

                    <!-- Relationships -->
                    <tr>
                        <td>{{ organisation.Status }} Relationships</td>
                        <td>{{ relCount.view }}</td>
                    </tr>

                    <!-- Last Change Date -->
                    <tr>
                        <td>Last Change Date</td>
                        <td>{{ organisation.LastChangeDate }}</td>
                    </tr>

                </tbody>

            </table>

        </mat-card-content>

    </mat-card>

    <!-- Explore Object Drop-down Menu -->
    <div *ngIf="organisation.Name" class="explore-object-container">

        <mat-accordion>

            <mat-expansion-panel>

                <!-- Panel Header -->
                <mat-expansion-panel-header>

                    <!-- Panel Title -->
                    <mat-panel-title>
                        Explore:
                    </mat-panel-title>

                    <!-- Panel Description -->
                    <mat-panel-description>
                        {{ organisation.OrgId.extension }} | {{ organisation.Name | titlecase }}, {{ organisation.GeoLoc.Location.AddrLn1 | titlecase }}, {{ organisation.GeoLoc.Location.AddrLn2 | titlecase }}, {{ organisation.GeoLoc.Location.Town | titlecase }}, {{ organisation.GeoLoc.Location.County }}, {{ organisation.GeoLoc.Location.PostCode }}
                    </mat-panel-description>

                </mat-expansion-panel-header>

                <ngx-json-viewer [json]="organisation" [expanded]="false">
                </ngx-json-viewer>

            </mat-expansion-panel>

        </mat-accordion>

    </div>

</div>
