<!-- Heading -->
<div class="heading">

    <!-- Heading -->
    <div>
        <h1>Organisations</h1>
    </div>

</div>

<!-- Filters -->
<div class="filters">
    <app-organisation-filters
        [defaultFilters]="defaultFilters"
        (filtersChanged)="updateFilters($event)"
    ></app-organisation-filters>
</div>

<!-- Data -->
<app-table
    [dataSource]="dataSource"
    [columnConfig]="columnConfig"
    [service]="orgService"
    [filters]="filters"
    defaultSortCol="name"
    [actionButtonConfig]="actionButtonConfig"
    (actionButtonClick)="onActionButtonClick($event)"
    (rowClick)="onRowClick($event)"
></app-table>
