<!-- Heading -->
<h1 *ngIf="title">{{ title }}</h1>

<div>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div class="table mat-elevation-z8">

        <table
            [dataSource]="dataSource"
            mat-table
            matSort
            [matSortActive]="!paginatorConfig.disabled ? defaultSortCol : ''"
            matSortDirection="asc"
            matSortDisableClear
        >
            <!-- Custom Header Row Definition -->
            <ng-container matColumnDef="custom-header-row" *ngIf="showMenu">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="'right'" [attr.colspan]="displayedColumns.length">

                    <!-- Refresh Data -->
                    <shared-button
                        buttonText=""
                        colour="primary"
                        icon="sync"
                        [loaded]="true"
                        (clickEvent)="refreshData()"
                        *ngIf="showReloadDataButton"
                    ></shared-button>

                    <!-- Show / Hide Columns -->
                    <shared-checkbox-menu
                        [items]="menuItems"
                        colour="primary"
                        icon="menu"
                        xPosition="before"
                        yPosition="above"
                        (selectionChanged)="onMenuClick($event)"
                    ></shared-checkbox-menu>

                </th>
            </ng-container>

            <!-- Custom Header Row -->
            <ng-container *ngIf="showMenu">
                <tr mat-header-row *matHeaderRowDef="['custom-header-row']; sticky: true"></tr>
            </ng-container>

            <!-- Column Definitions -->
            <ng-container [matColumnDef]="item.columnId" *ngFor="let item of columnConfig">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.columnName }}</th>

                <!-- Object -->
                <ng-container *ngIf="item.property">
                    <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
                        {{ row[item.columnId][item.property] | FormatValue }}
                    </td>
                </ng-container>

                <!-- Value -->
                <ng-container *ngIf="!item.property && item.columnId !== 'icon'">
                    <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
                        {{ row[item.columnId] | FormatValue }}
                    </td>
                </ng-container>

                <!-- Icon -->
                <ng-container *ngIf="!item.property && item.columnId === 'icon'">
                    <td mat-cell *matCellDef="let row" (click)="onIconClick(row)">
                        <img [src]="row[item.columnId] ?? 'assets/svg/map-marker/map-marker-a.svg'" />
                    </td>
                </ng-container>

            </ng-container>

            <!-- Action Button -->
            <ng-container matColumnDef="actions" *ngIf="!actionButtonConfig.hide">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button [color]="actionButtonConfig.colour" (click)="onActionClick(row)">
                        <mat-icon *ngIf="actionButtonConfig.icon" class="material-icons-outlined">{{ actionButtonConfig.icon }}</mat-icon>
                        <span *ngIf="actionButtonConfig.buttonText" [ngClass]="{ 'spacer': actionButtonConfig.icon && actionButtonConfig.buttonText }">{{ actionButtonConfig.buttonText }}</span>
                    </button>
                </td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

            <!-- Data Rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        
        </table>

        <mat-paginator
            [length]="length"
            [pageSize]="paginatorConfig.intialPageSize"
            [pageSizeOptions]="paginatorConfig.pageSizeOptions"
            [showFirstLastButtons]="paginatorConfig.showFirstLastButtons"
            [hidePageSize]="paginatorConfig.hidePageSize"
            [disabled]="paginatorConfig.disabled"
        ></mat-paginator>

    </div>

</div>
