<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col">
            <div *ngIf="title">
                <h1>{{ title }}<span *ngIf="!dataSource">...</span></h1>
            </div>
        </div>
        <div class="col col-right">
            <h3 *ngIf="dataSource && showCount">{{ dataSource.data.length }} record{{ dataSource.data.length === 1 ? '' : 's' }} returned</h3>
        </div>
    </div>

    <!-- Data Loading... (Spinner) -->
    <div *ngIf="!dataSource">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Data Loaded -->
    <div *ngIf="dataSource">

        <!-- Data Table -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortChange($event)">

            <!-- Column Definitions -->
            <ng-container [matColumnDef]="item.columnId" *ngFor="let item of columnConfig">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.columnName }}</th>
                <td mat-cell *matCellDef="let cell">{{ cell | GetValue : item.columnId }}</td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

            <!-- Data Rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- No Data Row -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length" class="no-data">
                    NO DATA
                </td>
            </tr>

        </table>

    </div>
</div>
