<!-- Home -->
<a mat-list-item routerLink="/home" routerLinkActive="active-list-item">
    <mat-icon fontIcon="home"></mat-icon>
    <span>Home</span>
</a>

<!-- Organisations -->
<a mat-list-item routerLink="/organisations-api" routerLinkActive="active-list-item">
    <mat-icon fontIcon="link"></mat-icon>
    <span>Organisations API</span>
</a>

<!-- Organisations 2 -->
<a mat-list-item routerLink="/organisations" routerLinkActive="active-list-item">
    <mat-icon fontIcon="factory"></mat-icon>
    <span>Organisations</span>
</a>

<!-- Roles -->
<a mat-list-item routerLink="/roles" routerLinkActive="active-list-item">
    <mat-icon fontIcon="roller_skating"></mat-icon>
    <span>Roles</span>
</a>

<!-- Sample Components -->
<a mat-list-item routerLink="/samples" routerLinkActive="active-list-item">
    <mat-icon fontIcon="electrical_services"></mat-icon>
    <span>Sample Components</span>
</a>
