<ng-template #loadingTemplate>
    <mat-spinner diameter="30" class="loading-spinner"></mat-spinner>
</ng-template>

<ng-template #noDataTemplate>
    <h1>No Data</h1>
</ng-template>

<ng-container *ngIf="!(data && data.length === 0); else noDataTemplate">
    <div class="map-flex-container">
        <div #mapContainer class="map" [ngStyle]="mapStyle">
            <mat-spinner *ngIf="data === null" diameter="100" color="primary" id="map-spinner"></mat-spinner>
        </div>
    </div>
    <pre *ngIf="data !== null">{{ data | json }}</pre>
</ng-container>
