.map-container {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    margin-top: 20px;
}

.flex-container>div {
    border: 1px solid lightgray;
}

.flex-map {
    flex: 2;
}

.flex-controls {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

mat-slider {
    margin-top: 20px;
    width: 100%;
}

.field_set{
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

legend {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}
