<div class="container">

    <!-- Page Heading -->
    <h1>Organisations<span *ngIf="!data">...</span></h1>

    <!-- Data Loading... (Spinner) -->
    <div *ngIf="!data">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Data Loaded -->
    <div *ngIf="data">

        <!-- Options Drop-Down -->
        <mat-accordion>
            <mat-expansion-panel>

                <!-- Panel Header -->
                <mat-expansion-panel-header>

                    <!-- Panel Title -->
                    <mat-panel-title>
                        Data Options
                    </mat-panel-title>

                    <!-- Panel Description -->
                    <mat-panel-description>
                        <mat-icon>settings</mat-icon>
                        Column List | Limit | Offset | Status | Role
                    </mat-panel-description>

                </mat-expansion-panel-header>

                <!-- Column Visibility Drop-Down List -->
                <mat-form-field>

                    <!-- Label -->
                    <mat-label>
                        Visible columns
                    </mat-label>

                    <!-- Column List Drop-Down Menu -->
                    <mat-select
                        [formControl]="columnDropDown"
                        multiple
                        panelClass="long-list"
                        (selectionChange)="onSelectionChange()"
                    >
                        <!-- Loop through column definition config array -->
                        <mat-option *ngFor="let item of columnConfig" [value]="item.columnId">{{ item.columnName }}</mat-option>
                    </mat-select>

                </mat-form-field>

                <!-- Filters -->
                <form #dataOptionsForm="ngForm" (ngSubmit)="onSubmitForm()">

                    <!-- Offset -->
                    <mat-form-field>

                        <!-- Label -->
                        <mat-label>
                            Offset
                        </mat-label>

                        <!-- Number Input -->
                        <input
                            type="number"
                            matInput
                            required
                            [formControl]="offsetInput"
                            [min]="offsetConfig.min"
                            [max]="offsetConfig.max"
                        >

                        <!-- Hint -->
                        <mat-hint>
                            {{ offsetConfig.min | number }} to {{ offsetConfig.max | number }}
                        </mat-hint>

                        <!-- Error Messages -->
                        <mat-error *ngIf="offsetInput.hasError('min') || offsetInput.hasError('max')">
                            Please enter a value between {{ offsetConfig.min | number }} and {{ offsetConfig.max | number }}
                        </mat-error>

                    </mat-form-field>

                    <!-- Limit -->
                    <mat-form-field>

                        <!-- Label -->
                        <mat-label>
                            Limit
                        </mat-label>

                        <!-- Number Input -->
                        <input
                            type="number"
                            matInput
                            required
                            [formControl]="limitInput"
                            [min]="limitConfig.min"
                            [max]="limitConfig.max"
                        >

                        <!-- Hint -->
                        <mat-hint>
                            {{ limitConfig.min | number }} to {{ limitConfig.max | number }}
                        </mat-hint>

                        <!-- Error Messages -->
                        <mat-error *ngIf="limitInput.hasError('min') || limitInput.hasError('max')">
                            Please enter a value between {{ limitConfig.min | number }} and {{ limitConfig.max | number }}
                        </mat-error>

                    </mat-form-field>

                    <!-- Status -->
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select [formControl]="statusInput" placeholder="Select a status">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let s of status" [value]="s.id">
                                {{ s.displayName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Role -->
                    <mat-form-field>
                        <mat-label>Role</mat-label>
                        <mat-select [formControl]="roleInput" placeholder="Select role(s)" multiple panelClass="long-list">
                            <mat-option *ngFor="let role of roles?.Roles" [value]="role.id">
                                {{ role.displayName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--  Submit Button -->
                    <button mat-raised-button color="primary" [disabled]="form.invalid">
                        Refresh Data
                    </button>

                </form>

            </mat-expansion-panel>

        </mat-accordion>

        <hr>

        <!-- Data Table -->
        <table mat-table [dataSource]="data.Organisations" class="mat-elevation-z8">

            <!-- Column Definitions -->
            <ng-container [matColumnDef]="item.columnId" *ngFor="let item of columnConfig">
                <th mat-header-cell *matHeaderCellDef>{{ item.columnName }}</th>
                <td mat-cell *matCellDef="let organisation"> {{ organisation[item.columnId] }}</td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Data Rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>
</div>
